
        /* Chrome, Safari */
        ::-webkit-scrollbar {
            width: 15px;
            height: 15px;
            }
            ::-webkit-scrollbar-track-piece  {
            background-color: #222222;
            }
            ::-webkit-scrollbar-thumb:vertical {
            height: 30px;
            background-color: #000;
            }