<!DOCTYPE html>
<html class="theme-dark">
  {% include head.html %}
  <body>

    <script src="{{ site.files }}/assets/liquid.js"></script>

<div class="hero has-background-black-bis is-fullheight">
<div class="hero-body">
    <div class="container">
                        
                        <section class="columns">


                        <div class="container column is-10">
                            <div class="section">
                                

                            <div class="card has-background-dark has-text-light">
                                <div class="card-content"><div class="content">

                                <div class="field">
                                  <label>Model AI : Liquid-lfm-7b</label>
                                </div>
                                
                                <div class="field"> 
                                  <form id="form">
                                    <div class="field">
                                      <label for="api_key">API Key<font color="red">*</font></label>
                                      <input class="input is-normal"  id="api_key" type="text" />
                                    </div>

                                    <div class="field">
                                    <label for="message">Message</label>
                                    <textarea
                                    class="textarea" id="message" 
                                    rows="11"
                                  ></textarea>
                                    </div>

                                    <div class="field has-text-centered">
                                      <button class="button is-light" type="submit">Send</button>
                                    </div>
                                  </form>
                                </div>
                                
                                <div class="field">

                                  
                                  <div class="has-text-centered" id="loading" style="display:none;">
                                    <img src="{{ site.files }}/assets/loading.gif" alt="Loading...">
                                </div>  

                                <label for="message">Output</label>
                                <div id="result"></div>
                                



                                </div>
                                

                                <br/>
                            
                            
                            </div>
                        </div>
                        
                        </section>


    </div>
</div>
</div>

    {% include footer.html %}
  </body>
</html>